html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-image: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
    background-size: cover;
    display: grid;
    grid-template-rows: auto;
}
header {
    background-color: rgb(164, 205, 167, 0.6);
    margin-bottom: 200px;
}
section, footer {
    margin-right: 6px;
    margin-left: 6px;
}
div {
    text-align: justify;
    margin-bottom: 200px;
}
h1, h2, h3 {
    text-align: left;
    padding-left: 6px;
    color: #14323D;
    font-family: 'Raleway', sans-serif;
}
h2 {
    margin-bottom: 48px;
    font-size: 24pt;
}
h3, p {
    color: #14323D;
    font-size: 13pt;
    font-family: 'Raleway', sans-serif;
}
p {
    margin: 6px 6px;
    line-height: 1.75;
    font-size: 14pt;
}
footer {
    padding-top: 50px;
    padding-bottom: 100px;
    /* background-image: linear-gradient(rgb(116, 131, 144), rgb(64, 102, 126)) ; */
}
@media (min-width: 567px) {
    section {
        margin-right: 144px;
        margin-left: 144px;
    }
    header, footer {
        padding-left: 144px;
    }
}
@media (min-width: 960px) {
    section {
        margin-right: 288px;
        margin-left: 288px;
    }
    header, footer {
        padding-left: 288px;
    }
}