html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.skills, #languages, #frameworks, #miscillaneous {
    display: flex; 
}
#languages, #frameworks, #miscillaneous {
    flex-wrap: wrap;
}
.projects img {
    height: 200px;
    max-width: 300px;
}
.contact a img {
    width: 75px;
    height: 75px;
}